ALTER TABLE public.waste_data_admin ADD COLUMN IF NOT EXISTS agent_pricing_mode varchar(50) DEFAULT 'per_kg';
ALTER TABLE public.waste_data_admin ADD CONSTRAINT chk_agent_pricing_mode CHECK (agent_pricing_mode IN ('per_kg', 'per_piece'));
